:root {
  --main-text-color: #2c2c2c;
  --accent-color: #bbf330;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.links {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 1px solid green;
}

.current {
  color: var(--accent-color);
  text-decoration: underline;
}

.btn {
  min-width: 98px;
  min-height: 32px;
  border-radius: 30px;
  border-color: transparent;

  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: var(--main-text-color);
  background-color: var(--accent-color);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

header > .container {
  display: flex;
  align-items: center;
  background: #fefefe;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.title {
  
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>HEADER */

.header {
}

.header-logo {
  margin-right: auto;
}

.header-logo-img {
}

.header-nav {
}

.nav-list {
  display: flex;
  gap: 28px;
  min-height: 72px;
  align-items: center;
}

.nav-item {
}

.nav-link {
  font-size: 14px;
  line-height: 1.142;
  color: inherit;
}

.nav-btn {
  margin-left: 30px;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HERO */

.hero {
}

.hero .container {
  display: flex;
  align-items: center;
}

.hero-right {
  max-width: 511px;
  margin-right: auto;
}

.hero-title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
}

.hero-text {
  margin-bottom: 40px;
}

.btn {
}

.hero-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 14px 14px 0 0;
  max-width: 580px;
  max-width: 580px;
  border: 26px solid #ffe550;
  border-radius: 50%;
}

.hero-slider > div {
  max-width: 528px;
  max-width: 528px;
  border-radius: 50%;
  overflow: hidden;
}

.slick-prev {
  left: -38px;
  width: 48px;
  height: 40px;
  background: #fefefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  z-index: 100;
}

.slick-next {
  right: -38px;
  width: 48px;
  height: 40px;
  background: #fefefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  z-index: 100;
}

.slick-next:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../images/symbol-defs.svg#arrow-right);
  background-size: contain;
  fill: #2c2c2c;
}

/* .slick-prev:hover,
.slick-prev:focus,
.slick-arrow:hover,
.slick-arrow:focus {
  color:#2c2c2c;
} */

.hero-img {
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> OFFER */

.offer {
  
}
.offer > div {
  display: flex;
  gap: 50px;
  background-image: url(../images/offerings/bg.png);
  min-height: 828px;

}


.offer-img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 190px 0 30px 40px;
}

.offer-right-side {
  margin: 255px 35px 0 0;
}

.offer-title {
  font-weight: 700;
    font-size: 42px;
    line-height: 120%;
}

.offering-text {}

.offer-list {
  display: flex;
}

.list {}

.offer-item {}

.list-subtitle {}

.offer-desc {}

.offer-btn {}

.btn {}